Repository Metaphysic-ai/brahmahub: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-format, ruff-lint, biome

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

ruff-lint:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

biome:
  run: pnpm biome check --write --diagnostic-level=error {staged_files}
  stage_fixed: true

ci: add GitHub Actions CI workflow, use system PostgreSQL
  .env.example
  .github/workflows/ci.yml
  CLAUDE.md
  api/Dockerfile
  docker-compose.yml
  mise.toml
Due: none

docs: update README for mise/uv/pnpm toolchain
  README.md
Due: none

refactor(api): remove sys.path hack for cli imports
  api/routers/ingest.py
Due: ruff-format, ruff-lint

refactor: rename GOOGLE_API_KEY to GEMINI_API_KEY
  .env.example
  CLAUDE.md
  README.md
  api/config.py
  api/services/analyzer.py
  mise.toml
Due: ruff-format, ruff-lint

feat: add git-tag-based dynamic versioning
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  api/main.py
  cli/ingesthub_cli/__init__.py
  cli/ingesthub_cli/main.py
  frontend/src/components/layout/AppSidebar.tsx
  frontend/src/lib/version.ts
  frontend/src/test/setup.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  pyproject.toml
  tests/test_health.py
  uv.lock
Due: ruff-format, ruff-lint, biome

ci: upgrade actions to latest major versions
  .github/workflows/ci.yml
Due: none

refactor(api): replace deprecated asyncio calls with to_thread()
  api/routers/ingest.py
  api/routers/packages.py
Due: ruff-format, ruff-lint

fix: resolve ty type checker errors
  api/database.py
  api/services/analyzer.py
  cli/ingesthub_cli/main.py
  cli/ingesthub_cli/media.py
  frontend/src/test/setup.ts
  tests/conftest.py
Due: ruff-format, ruff-lint, biome

feat(deploy): add production deployment configs
  deploy/brahmahub-api.service
  deploy/traefik/dynamic.yml
  deploy/traefik/traefik.env.example
  deploy/traefik/traefik.service
  deploy/traefik/traefik.yml
  lefthook.yml
Due: none

ci: automate releases with release-please
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/release.yml
  .gitignore
  cliff.toml
Due: none

ci: add PR automation, security scanning, and workflow hardening
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
Due: none

docs: expand development guide with workflow, commit, and PR instructions
  README.md
Due: none

feat: add automatic self-update via GitHub Releases
  .env.example
  CLAUDE.md
  api/config.py
  api/main.py
  api/routers/system.py
  api/services/github_auth.py
  deploy/README.md
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/common/VersionBanner.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/AppSidebar.tsx
  frontend/src/hooks/useSystem.ts
  frontend/src/hooks/useVersionCheck.ts
  frontend/src/lib/__tests__/version.test.ts
  frontend/src/lib/version.ts
  frontend/src/services/system.ts
  frontend/src/types/index.ts
  frontend/tailwind.config.ts
  pyproject.toml
  tests/test_health.py
  tests/test_system.py
  uv.lock
Due: ruff-format, ruff-lint, biome

chore: add Linked Stories section to PR template
  .github/pull_request_template.md
Due: none

fix(api): add path traversal guards for dataset symlinks and metadata reads
  api/services/datasets.py
  api/services/metadata.py
Due: ruff-format, ruff-lint

docs: split README into overview and development guide
  CLAUDE.md
  DEVELOPMENT.md
  README.md
  deploy/README.md
Due: none

chore: improve git-cliff changelog config
  DEVELOPMENT.md
  cliff.toml
Due: none

Path conditions:
  ruff-format: any of: *.py
  ruff-lint: any of: *.py
  biome: any of: *.{ts,tsx,js,jsx,json,css} and ^frontend/
